@model Musicly.Core.Models.ApplicationUser

@{
    ViewBag.Title = "Edit User Bio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align: center">Edit User Bio</h2>
<div class="gg-login-form col-md-4 col-md-offset-4">
    @using (Html.BeginForm("Bio", "User", FormMethod.Post, new
    {
        enctype = "multipart/form-data"
    }))
    {
        
        @Html.ValidationSummary(true,"Please Fix the Follwing Errors", new { @class="alert alert-danger"})
        <div class="form-group">
            @Html.LabelFor(m => m.Avatar, new { @class = "control-label" })
            <input type="file" class="form-control" name="avatarUpload" id="avatarUpload" />
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Country, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.About, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.About, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.About, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
        </div>

        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
        </div>
    }
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}